{{ header }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Welcome to your <b>Planting Insights</b>!</h1>
            <p>Click the button below to start the authentication process.</p>
            <a href="/login" class="btn btn-primary">Login</a>
            <p>Or <a href="/settings">configure settings</a> before logging in.</p>
        </div>
    </div>
</div>

{{ footer }}